@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950;
  overflow-x: hidden;
}

.nav-icon {
  @apply text-xl cursor-pointer;
}

.bg-primary {
  @apply bg-blue-800;
}

.text-primary {
  @apply text-blue-800;
}

.bg-secondary {
  background-color: dodgerblue;
}

.text-secondary {
  color: dodgerblue;
}

.ignore-nav {
  height: calc(100vh - 32px);
}

#stars {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}
