@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  z-index: 2;
}

body {
  @apply bg-slate-950 overflow-x-hidden;
}

body, html {
  @apply min-h-svh;
}

.nav-icon {
  @apply text-xl cursor-pointer;
}

.bg-primary {
  @apply bg-blue-800;
}

.text-primary {
  @apply text-blue-800;
}

.bg-secondary {
  background-color: dodgerblue;
}

.text-secondary {
  color: dodgerblue;
}

.gradient-secondary {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(30, 144, 255, 1) 73%, rgba(0, 212, 255, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(30, 144, 255, 1) 73%, rgba(0, 212, 255, 1) 100%);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(30, 144, 255, 1) 73%, rgba(0, 212, 255, 1) 100%);
}

.ignore-nav {
  height: calc(100svh - 32px - 40px);
}

#stars {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 1 !important;
  pointer-events: none;
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999 !important;
  pointer-events: none;
}

.infinite-loop {
  animation: infinite-loop 20s infinite linear;
}

@keyframes infinite-loop {
  to {
    transform: translateX(calc(-100% - 24px));
  }
}
